<h1>Please add a new list:</h1>

<form action="/lists" method="post">
	<div class="form-group">
		<label for="name">Please enter list name:</label>
		<input id="name" name="name" type="test">
	</div>

	<button type="submit" class="btn-success">Add List</button>
</form>